@font-face {
  font-family:'Noto Regular';
  src:local(ⓐ),url('../fonts/noto/NotoSans-SKPv1.2-Regular.woff') format("woff"), url('../fonts/noto/NotoSans-SKPv1.2-Regular.otf') format("opentype");
}
@font-face {
  font-family:'Noto Medium';
  src:local(ⓐ), url('../fonts/noto/NotoSans-SKPv1.2-Medium.woff') format("woff"), url('../fonts/noto/NotoSans-SKPv1.2-Medium.otf') format("opentype");
}
@font-face {
  font-family:'Noto Bold';
  src:local(ⓐ), url('../fonts/noto/NotoSans-SKPv1.2-Bold.woff') format("woff"), url('../fonts/noto/NotoSans-SKPv1.2-Bold.otf') format("opentype");
}
@font-face {
  font-family:'Roboto Regular';
  src:local(ⓐ), url('../fonts/roboto/Roboto-Regular.woff') format('woff'), url('../fonts/roboto/Roboto-Regular.ttf') format("truetype");
}
@font-face {
  font-family:'Roboto Medium';
  src:local(ⓐ), url('../fonts/roboto/Roboto-Medium.woff') format('woff'), url('../fonts/roboto/Roboto-Medium.ttf') format("truetype");
}
@font-face {
  font-family:'Roboto Bold';
  src:local(ⓐ), url('../fonts/roboto/Roboto-Bold.woff') format('woff'), url('../fonts/roboto/Roboto-Bold.ttf') format("truetype");
}
